.text_yellow{
    color:#FFD33F;
}

.bg_yellow{
    background-color:#FFD33F;
}

/* black: #000000;
$alert: #FF560F;
$secondary: #FAF5EB;
$gray: #909090;
$primary: #19224D;
$primary_mid: #EFE3CA;
$primary_dark: #665D47;
$powder_blue: #D9EEF3;
$powder_pink: #F0C9D0;
$powder_green: #B9DDB7;
$powder_orange: #F98A5C;
$pastel_green: #89C188;
$white: #ffffff; */